
:root {
    --peach-color: #ED3545;
    --grey: #e9e9e9;
    --black-like: #303030;
    --green: #2B9407;
    --font: "Spline Sans", sans-serif;
    font-family: var(--font);
    margin: auto;
    padding: 0;

}

nav {
    width: 100vw;
    padding-left: 32px;
    align-self:center;
    justify-content: space-between;
    border: var(--grey);
    border-width: 1px;
    border-style: solid;

    .navbar-brand {
        display: flex;
        width: 40%;

    }

    .logo {
        width: 103px;
        height: 85px;
        top: 8px;
        left: 53px;
    }

    .nav-title {
        font-family: var(--font);
        font-size: 22px;
        color: var(--peach-color);
        margin-top: 28px;
        margin-left: 24px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
    }

    .nav-right {
        margin-right: 32px;

        & button {
            background-color: var(--peach-color);
            border-radius: 12px;
            padding-inline: 18px;
            padding-block: 10px;
            color: white;
        }
    }
    .inline {
        display:inline-block;
        margin-right:5px;
    }
}
