@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import url("./../globalStyles.css");

.hero {
    width: 100%;
    height: 900px;
    object-position: center;
    display: block;
    align-items: center;
    justify-content: center;

    .cover {
        width: inherit;
        height:inherit;
        object-fit: cover;
        position: absolute;
    }

    .inner-main {
        width: 40%;
        position: relative;
        top: 200px;
        left: 12%;


        .logo {
            width: 360px;
            height: 305px;
            display: block;
            margin: auto;
        }

        .bottom-nav {
            margin-top: 5%;
            align-items: center;
            justify-content: center;

            form {
                flex-wrap: wrap;
                display: flex;
                align-items: center;
                justify-content: space-around;

                * {
                    padding-inline: 16px;
                    padding-block: 8px;
                    margin: 12px;
                    border-radius: 12px;
                    border: none;
                }

                input {
                    width: 253px;
                    height: 40px;
                }

                select {
                    width: 117px;
                    height: 40px;
                }

                .search-btn{
                    height: 40px;
                    width: 117px;
                    background-color: var(--peach-color);
                    color: white;
                    padding-inline: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 698px) {
    .hero {
        .cover {
            object-position:right;
            height: 400px;
        }

        .inner-main {
            width: 100%;
            height: fit-content;
            display: block;
            margin: auto;
            position: relative;
            left: 0;
            top: 0;

            .logo {
                display: none;
            }

            .bottom-nav {
                margin: auto;
                display: block;

                form {
                    align-items: center;
                    justify-content: space-evenly;
                    display: block;
                    padding-top: 80px;
                }
            }
        }
    }
}

.top-restaurants {
    width: 80%;
    margin: auto;
    margin-top: 2%;

    .top-title {
        color: var(--black-like);
        font-size: 16px;
        padding-left: 3%;
        margin-top: 5%;
    }

    ul {
        list-style: none;
        display: flex;
        width: 100%;
        flex-wrap:wrap;
        margin: auto;

        li {
            margin-inline: 12px;
            margin-block: 16px;
            border: none;

            .card {
                background-color: white;
                border: none;

                .body {

                    img {
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                        width: 200px;
                        height: 144px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .card-footer {
                    background-color: white;
                    width: inherit;
                    border: solid var(--grey) 1px;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;

                    * {
                        color: var(--black-like);
                        font-size: 10px;
                        line-height: 16px;
                        margin: 0;
                    }

                    .reviews {
                        color: #7e7e7e;
                        font-weight: 500;
                    }

                    .place {
                        .location {
                            display: flex;
                            padding-block: 4px;
                            margin-top: 12px;                            
                        }
                    }

                    .title {
                        font-size: 14px;
                        color: var(--black-like);
                        font-weight: 600;
                    }

                    span {
                        font-weight: 500;
                    }

                    .close-span {
                        color: var(--red);
                    }

                    .open-span {
                        color: var(--green);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 698px) {
    .top-title {
        text-align: center;
    }
}

.about {
    width: 84%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;

    img {
        width: 474px;
        height: 439px;
    }

    .content {
        width: 45%;
        margin-top: .4%;

        .title {
            color: var(--peach-color);
            font-size: 24px;
        }

        .text {
            color: var(--black-like);
        }

        .peach-span {
            color: var(--peach-color);
        }
    }

}

@media screen and (max-width: 698px) {
    .about {
        width: 100%;
        margin: auto;
        display: block;

        img {
            display: block;
            margin: auto;
            width: 90%;
        }

        .content {
            text-align: start;
            margin: auto;
            width: 80%;
        }
    }
}

.location-icon {
    width: 12px;
    height: 12px;
    position: relative;
    right: 2.4px;
}

.pancreas {
    width: 100px;
    height: 30px;
    display: flex;
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 5px;
    padding-left: 3px;
    position: absolute;
    top: 10px;
}

#star {
    width: 18px;
    height: 18px;
}