@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

:root {
    --peach-color: #ED3545;
    --grey: #e9e9e9;
    --black-like: #303030;
    --font: "Spline Sans", sans-serif;
    font-family: var(--font);
    margin: auto;
    padding: 0;
}

body {
    overflow-x: auto;
}

nav {
    width: 100vw;
    padding-left: 32px;
    align-self:center;
    justify-content: space-between;
    border: var(--grey);
    border-width: 1px;
    border-style: solid;

    .navbar-brand {
        display: flex;
        width: 40%;
        
    }
    
    .logo {
        width: 103px;
        height: 85px;
    }
    
    .nav-title {
        font-family: var(--font);
        font-size: 18px;
        color: var(--peach-color);
        margin-top: 28px;
        margin-left: 24px;
    }
    
    .nav-right {
        margin-right: 32px;
    
        button {
            background-color: var(--peach-color);
            border-radius: 12px;
            padding-inline: 18px;
            padding-block: 10px;
            color: white;
        }
    }
}

@media screen and (max-width: 698px) {
    nav {
        .navbar-brand{
            img {
             width: 60px;
             height: 55px;
            }
     
            .nav-title {
              display: none;
            }
        }

        .nav-right {
            button {
                text-align: center;
                font-size: 10px;
                width: 100px;
                height: 250x;
            }

            margin-right: 0px;
        }
    }
    
}

.hero {
    width: 100vw;
    height: 900px;
    object-position: center;
    display: block;
    align-items: center;
    justify-content: center;

    .cover {
        width: inherit;
        height:inherit;
        object-fit: cover;
        position: absolute;
    }

    .inner-main {
        width: 40%;
        position: relative;
        top: 200px;
        left: 12%;
      

        .logo {
            width: 360px;
            height: 305px;
            display: block;
            margin: auto;
        }

        .bottom-nav {
            margin-top: 5%;
            align-items: center;
            justify-content: center;

            form {
                flex-wrap: wrap;
                display: flex;
                align-items: center;
                justify-content: space-around;

                * {
                    padding-inline: 16px;
                    padding-block: 8px;
                    margin: 12px;
                    border-radius: 12px;
                    border: none;
                }

                input {
                    width: 253px;
                    height: 40px;
                }

                select {
                    width: 117px;
                    height: 40px;
                }

                .search-btn{
                    height: 40px;
                    width: 117px;
                    background-color: var(--peach-color);
                    color: white;
                    padding-inline: 20px;                    
                }
            }
        }
    }
}

@media screen and (max-width: 698px) {
    .hero {
        .cover {
            object-position:right;
            height: 400px;
        }

        .inner-main {
            width: 100%;
            height: fit-content;
            display: block;
            margin: auto;
            position: relative;
            left: 0;
            top: 0;

            .logo {
                display: none;
            }

            .bottom-nav {
                margin: auto;
                display: block;
            
                form {
                    align-items: center;
                    justify-content: space-evenly;
                    display: block;
                    padding-top: 80px;
                }
            }
        }
    }
}

.top-restaurants {
    width: 80%;
    margin: auto;
    margin-top: 2%;

    .top-title {
        color: var(--black-like);
        font-size: 16px;
        padding-left: 3%;
        padding-bottom: .8%;
    }

    ul {
        list-style: none;
        display: flex;
        width: 100%;
        flex-wrap:wrap;
        margin: auto;

        li {
            margin-inline: 12px;
            margin-block: 16px;
            border: solid --grey 8px;
            
            .card {
                border-radius: 12px;
                width: 202px;
                height: 270px;

                .body {

                    img {
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                        width: 200px;
                        height: 144px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .footer {
                    width: inherit;
                    padding: 16px;

                    .place {

                        .location {
                            display: flex;
                            padding-block: 1px;

                            img {
                                width: 1px;
                                height: 1px;
                            }
                        }
                    }

                    * {
                        font-size: 10px;
                        margin: 0;
                    }

                    .title {
                        font-size: 14px;
                        color: var(--black-like);
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 698px) {
    .top-title {
        text-align: center;
    }
}

.about {
    width: 84%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;

    img {
        width: 474px;
        height: 439px;
    }

    .content {
        width: 45%;
        margin-top: .4%;

        .title {
            color: var(--peach-color);
            font-size: 24px;
        }

        .text {
            color: var(--black-like);

            span {
                color: var(--peach-color);
            }
        }
    }

}

@media screen and (max-width: 698px) {
    .about {
        width: 100%;
        margin: auto;
        display: block;

        img {
            display: block;
            margin: auto;
            width: 90%;
        }

        .content {
            text-align: start;
            margin: auto;
            width: 80%;
        }
    }
}

footer {
    height: 45px;
    background-color: var(--peach-color);
    padding-top: 12px;

    .content {
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 14px;
    }
}