@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import url("./../globalStyles.css");

.contain {
    width: 80%;
    position: relative;
    top: 64px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card {
        width: 50%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-color: white;
    
        .body {
            width: inherit;

            img {
                width: 200%;
                height: 306px;
                object-fit: cover;
                object-position: center;
                position: relative;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }

            .banner-sub {
                width: 200%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 4%;
                padding-block: 2%;

                .title {
                    background-color: rgba(white, white, white, 0.01);
                    color: var(--black-like);
                    font-size: 48px;
                    font-size: 600;
                }
            }

            button {
                border: none;
                width: 90px;
                height: 33px;
                background-color: var(--green);
                color: white;
                border-radius: 12px;
                padding-bottom: 32px;
            }
        }
    
        .card-footer {
            padding: 2%;
            border: none;
            background-color: white;
            
            .detailed-info {
                display: flex;
                align-items: start;
                justify-content: space-between;
                padding-right: 15%;
            }
    
            .location {
                color: var(--light-gray);
                margin-block: 16px;
            }
    
            .description {
                font-size: 16px;
                color: var(--black-like);
            }
        }
    }
    
    .reserve {
        width: 60%;
        padding-left: 5%;
        position: relative;
        bottom: 110px;

        * {
            padding-block: 1%;
        }

        .title {
            font-size: 20px;
            color: var(--black-like);
            font-weight: 600;
            padding-left: 5%;
        }

        form {
            .top {
                padding-left: 5%;

                .enter {
                    background-color: var(--very-light-grey);
                    border: none;
                    padding-inline: 18px;
                    padding-block: 8px;
                    border-radius: 8px;
                    margin-inline: 8px;
                }
            }

            .bottom {
                display: block;

                .title {
                    color: black;
                    font-size: 16px;
                    font-weight: 400;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;

                    li {
                        button {
                            width: 156px;
                            height: 40px;
                            border-radius: 12px;
                            border: none;
                            border: solid 1px #ED3545;
                            margin-inline: 4px;
                            margin-block: 8px;
                            background-color: white;
                            color: var(--peach-color);
                        }
                    }
                }

                .sub {
                    text-align: start;
                    padding-left: 5%;
                    color: var(--peach-color);
                }

                .completet {
                    width: 90%;
                    display: block;
                    margin: auto;
                    border: none;
                    background-color: var(--peach-color);
                    color: white;
                    border-radius: 12px;
                    padding-inline: 16px;
                    padding-block: 8px;
                }
            }
        }
    }
}

@media screen and (max-width:1383px){
    .contain {
        width: 90%;

        .reserve {
            position: relative;
            bottom: 0;
        }
    }
}

@media screen and (max-width:973px){
    body {
        overflow-x: hidden;
    }

    .contain {
        display: block;
        width: 90%;
        padding: 0;
        margin: auto;
        padding-left: 4%;

        .card, .reserve {
            width: inherit;
            margin: auto;

            .body {
                img, .banner-sub {
                    width: 100%;
                    display: block;

                    .title {
                        width: 100%;
                        font-size: 40px;
                        margin: auto;
                        text-align: start;
                    }

                    button {
                        width: 120px;
                        height: 40px;
                        margin-block: 12px;
                    }
                }
            }

            .card-footer {
                .detailed-info {
                    font-size: 12px;
                }
            }
        }

        .reserve {
            position: relative;
            right: 2%;
            bottom: 0;
            top: 40px;
            display: block;
            margin: auto;
            padding: 0;

            form {
                .top {
                    display: block;
                }

                .bottom {
                    ul {
                        margin-left: 12px;
                        padding: 0;

                        li {
                            button {
                                width: 120px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.review-sec {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 200px;

    .overview {
        width: inherit;
        margin: auto;
        display: flex;
        border-radius: 18px;
        background-color: rgb(250, 240, 240);
        align-items: center;
        justify-content: space-between;
        padding-inline: 36px;
        padding-block: 18px;

        .left {
            width: 50%;

            .title {
                font-size: 22px;
                font-weight: 400;
                color: var(--black-like);
            }

            .rating {
                display: flex;

                .rating-sub {
                    color: var(--black-like);
                    font-weight: 400;
                    font-size: 12px;
                    margin-left: 16px;
                    padding-top: 5px;
                }
            }
        }

        .right {
            width: 50%;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {

                    * {
                        font-weight: 400;
                    }

                    .category {
                        font-size: 16px;
                    }

                    .rating {
                        text-align: center;
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .reviews {
        width: inherit;
        margin: auto;
        padding-inline: 4px;
        margin-top: 64px;
        
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: var(--black-like);
                font-size: 22px;
                font-weight: 400;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            width: 100%;
            li {
                margin-block: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left {
                    width: 60%;
                    display: flex;
                    
                    .profile {
                        width: 50px;
                        height: 50px;
                        color: black;
                        font-size: 22px;
                        font-weight: 400;
                        background-color: var(--dirty-pink);
                        text-align: center;
                        border-radius: 50%;
                        padding-top: 8px;
                        margin-right: 24px;
                    }

                    .comment {
                        display: block;

                        .username {
                            font-size: 22px;
                            font-weight: 400;
                            color: var(--black-like);
                        }

                        .review-detail {
                            padding: 0;
                            width: 40%;
                            display: flex;
                            margin-block: 8px;
                            align-items: center;
                            justify-content: space-evenly;
                            
                            li {
                                position: relative;
                                right: 9px;
                                display: flex;
                                color: black;
                                font-size: 12px;
                                font-weight: 400;
                            }

                            span {
                                color: var(--peach-color);
                            }
                        }

                        .comment-body {
                            font-size: 16px;
                            color: var(--black-like);
                            font-weight: 400;
                        }
                    }
                }

                .right {
                    display: flex;
                    .stars {
                        padding-bottom: 24px;
                        margin-right: 12px;
                    }

                    .date {
                        color: var(--light-gray);
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .review-sec {

        .rating {
            display: block;
        }

        .stars {
            display: flex;
        }

        .overview {
            display: block;

            .left, .right {
                width: inherit;

                ul {
                    padding: 0;
                    display: block;

                    li {
                        display: flex;

                        .category {
                            margin-top: 8px;
                        }

                        .rating {
                            margin-top: 4px;
                            margin-left: 12px;
                        }
                    }
                }
            }
        }

        .reviews {
            ul {
                li {
                    display: block;
                    .left {
                        width: 100%;

                        .profile {
                            width: 70px;
                            height: 40px;
                            padding: 8px;
                            font-size: 16px;
                        }

                        .comment {
                            .review-detail {
                                width: 100%;
                            }
                        }
                    }

                    .right {
                        display: block;
                    }
                }
            }
        }
    }
}

.page-indices {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 128px;

    p {
        color: var(--black-like);
        font-size: 16px;
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 10px;
        margin-inline: 8px;
    }

    .index {
        border-radius: 50%;
        border: rgb(184, 184, 184) solid 2px;
    }

    .current-index {
        border-color: var(--peach-color);
    }
}
